

<div class="row p-5">

<% sinistres.forEach(sinistre => { %>
<div class="col-3 d-flex">
    <div class="col-12 mt-3 p-3">

         <div class="card card-chart col-12 mt-3 p-3">
              <div class="card-header">
                <h4 class="card-title"><%= sinistre.type_vol %></h4>
                <div class="dropdown">
                  <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                    <i class="now-ui-icons loader_gear"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Details</a>
                    <a class="dropdown-item" href="#">Gerer le sinistre</a>
                    
                  </div>
                </div>
              </div>
              <div class="card-body">
                <small>n° police : <%= sinistre.numero_police %></small><br>
                <small>date : <%= sinistre.nom %></small><br>
                <small>nb morts : <%= sinistre.prenom %></small><br>
                <small>nb blesses : <%= sinistre.email %></small><br>
                <small>status : <%= sinistre.status %></small><br>
                <small>assuré : <%= sinistre.nom %> <%= sinistre.prenoms %></small><br>
               
               
              </div>
              <div class="card-footer">
             <a href="home/gestion">gerer</a>
                
              </div>
            </div>
        

    </div>
</div>

<% }) %>
</div>



<% sinistreV.forEach(sin => { %>
<div class="col-3 d-flex">
    <div class="col-12 mt-3 p-3">

         <div class="card card-chart col-12 mt-3 p-3">
              <div class="card-header">
                <h4 class="card-title"><%= sin.type_vol %></h4>
                <div class="dropdown">
                  <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                    <i class="now-ui-icons loader_gear"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Details</a>
                    <a class="dropdown-item" href="#">Gerer le sinistre</a>
                    
                  </div>
                </div>
              </div>
              <div class="card-body">
                <small>n° police : <%= sin.numero_police %></small><br>
                <small>date : <%= sin.nom %></small><br>
                <small>nb morts : <%= sin.prenom %></small><br>
                <small>nb blesses : <%= sin.email %></small><br>
                <small>status : <%= sin.status %></small><br>
                <small>assuré : <%= sin.nom %> <%= sin.prenoms %></small><br>
               
               
              </div>
              <div class="card-footer">
             <a href="home/gestion">gerer</a>
                
              </div>
            </div>
        

    </div>
</div>

<% }) %>

<% sinistreb.forEach(sinb => { %>
<div class="col-3 d-flex">
    <div class="col-12 mt-3 p-3">

         <div class="card card-chart col-12 mt-3 p-3">
              <div class="card-header">
                <h4 class="card-title"><%= sinb.type_vol %></h4>
                <div class="dropdown">
                  <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                    <i class="now-ui-icons loader_gear"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Details</a>
                    <a class="dropdown-item" href="#">Gerer le sinistre</a>
                    
                  </div>
                </div>
              </div>
              <div class="card-body">
                <small>n° police : <%= sinb.numero_police %></small><br>
                <small>date : <%= sinb.nom %></small><br>
                <small>nb morts : <%= sinb.prenom %></small><br>
                <small>nb blesses : <%= sinb.email %></small><br>
                <small>status : <%= sinb.status %></small><br>
                <small>assuré : <%= sinb.nom %> <%= sinb.prenoms %></small><br>
               
               
              </div>
              <div class="card-footer">
             <a href="home/gestion">gerer</a>
                
              </div>
            </div>
        

    </div>
</div>

<% }) %>
</div>

        